---
import Footer from "../components/footer.astro"
import Gallery from "../components/gallery.astro"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>???????????</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
        * {
            font-family: Outfit, sans-serif;
            text-wrap: pretty;
        }
        body {
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            background-image: linear-gradient(20deg, #ffb9f6 0%, #f17168 20%, #d9d5fd 75%);
        }
        p{
            font-size: 1.2rem;
        }
        img{
            border: 4px solid #fff; 
            box-shadow: 0px 0px 10px #000;
        }
        .cursiva{
            font-family: 'Pacifico', cursive;
        }
        /**Para js */
        .hide {
            animation: hide 2s ease-in-out forwards;
        }
        .hide-section{
            display: none;
        }

        .valid_movile{
            display: none;
        }
        .showw{
            display: block;
            display: flex;
            position: fixed;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            z-index: 1000;
        }

        .dark_mode{
            background-color: #0000005d;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 20;
        }

        #contador {
            font-size: 2em;
            background: linear-gradient(270deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd0, #002bff, #7a00ff, #ff00c8);
            background-size: 400% 400%;
            color: white;
            padding: 20px;
            display: inline-block;
            border-radius: 10px;
            animation: rainbow 8s infinite linear;
        }
        #celebrate{
            overflow-x: hidden;
            animation: show 3s ease-in-out forwards;
        }
        .counter-section {
            display: grid;
            place-content: center;
            height: 100vh;
        }

        .celebracion{
            position: relative;
            width: 80%;
            height: fit-content;
            padding: 1rem 0 2rem 0;
            margin: auto;
            margin-top: 100px;
            margin-bottom: 80px;
            border-radius: 20px;
            background-color: #fff;
            z-index: 1;

            &>h1{
                font-size: 1.7rem;
                z-index: 10;
                
            }
            &>.emoji{
                position: absolute;
                right: -50px;
                top: 30px;
                font-size: 100px;
                z-index: 1;
                rotate: 15deg;
                animation: shake 2s infinite;
            }
        }
        .final{
            font-size: 1.2rem;
            width: 90%;
            margin-inline: auto;
            margin-top: 60px;
            font-weight: bold;
        }
        .carta{
            width: 90%;
            margin: auto;
            position: relative;
        }


        /// Seccion de animacion
        @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

        @keyframes hide {
            0% { opacity: 1; }
            100% { opacity: 0; display: none; }
        }
        @keyframes shake{
            0% { rotate: 15deg; }
            25% { rotate: -10deg; }
            50% { rotate: 10deg; }
            75% { rotate: -10deg; }
            100% { rotate: 15deg; }
        }
        @keyframes caer {
            0% {
                opacity: 0;
                transform: translateY(-100vh) rotate(-10deg);
            }
            70% {
                opacity: 1;
                transform: translateY(20px) rotate(5deg);
            }
            100% {
                transform: translateY(0) rotate(0);
            }
        }
        @keyframes -caer {
            0% {
                opacity: 0;
                transform: translateY(100vh) rotate(10deg);
            }
            70% {
                opacity: 1;
                transform: translateY(-20px) rotate(5deg);
            }
            100% {
                transform: translateY(0) rotate(0);
            }
        }
        @keyframes show{
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        
    </style>
</head>
<body>
    <div class="valid_movile">
        <h1>Lastimosamente, esta pagina web solo esta disponible en dispositivos móviles</h1>
    </div>
    <!-- <section class="counter-section">
        <h1>Cuenta Regresiva!</h1>
        <div id="contador"></div>
        <p>Solo sabremos lo que nos espera el 20 de febrero 7am!!!</p>
    </section> -->
    <!-- la parte divertida -->
    <div id="celebrate" class=""> <!-- class="hide-section" despues de terminar la pagina-->
        
        <section class="celebracion">
            <p style="position: absolute; font-size: 4rem; top: -100px;">🎉</p>
            <img src="maria/maria.jpg" alt="Foto de maria" style="position:absolute;width: 150px;top: -80px;right: -10px; rotate:6deg">
            <h1>Feliz Cumpleaños <br><span>Maria Victoria</span></h1>
            <p>Espero que cumplas todos tus objetivos y que tengas un gran cumpleaños.</p>
            <p class="emoji">🎂</p>
        </section>
   
        <section class="carta">
            <img src="main.jpg" alt="hb" style="transform: translateY(-150vh);width: 170px; float: right; rotate: 6deg; animation: caer 1.5s ease-out forwards; animation-delay: 2s;margin-left: 10px;">
            <p style="font-size: 1.2rem;text-align: left;"><span class="cursiva">Querida Maria,</span> Hoy es un día especial, un día en el que el tiempo se detiene por un instante para recordarnos lo hermoso que es vivir, reír y compartir. Un cumpleaños no es solo el paso de los años, sino la celebración de cada sonrisa, cada sueño alcanzado y cada momento que ha llenado el corazón de alegría.<br><br>Que este nuevo ciclo que comienza esté lleno de luz, de amor sincero y de infinitas oportunidades. Que las velas encendidas no solo representen el tiempo transcurrido, sino también las esperanzas y deseos que aún están por cumplirse.<br><br>Rodeado de aquellos que más te quieren, hoy es un día para brindar por lo vivido y por lo que está por venir. Porque la felicidad no se mide en años, sino en instantes inolvidables.</p>
        </section>
        <section style="width:90%;margin:auto;">
            
            <h1>Feliz Cumpleaños, <br><span>De tus amigas.</span></h1>
            <img src="hb.jpg" alt="bts" style="transform: translateY(-200vh);width: 150px; float: left; rotate: -6deg; animation: -caer 1.5s ease-out forwards; animation-delay: 2s; margin-right: 15px; margin-bottom: 20px;">
            <p style="text-align: left;">Hoy no es un día cualquiera, ¡es el día en que celebramos la vida de alguien increíble! 🥳 Desde el primer momento en que nos conocimos, supimos que la diversión, las risas y las mejores historias estaban aseguradas contigo. <blockquote style="font-weight: bold; font-size: 1.3rem">Cada recuerdo compartido es un tesoro y cada aventura a tu lado es una prueba de que la amistad verdadera hace la vida más especial.</blockquote> </p>
        </section>
        <Gallery />
        <p class="final">¡Hoy celebramos a alguien único! 🎂 Gracias por ser esa persona que siempre alegra el día con su buena vibra, sus ocurrencias y su gran corazón. Eres alguien que deja huella en cada momento y estamos felices de compartir este día contigo.</p>
        <Footer />
    </div>
</body>
</html>
    <script>
        const valid_mobile = document?.querySelector(".valid_movile") as HTMLDivElement;

         if(window.innerWidth > 700){
            valid_mobile.classList.add("showw");
         }
        // cuenta regresiva
		let contador = document.getElementById("contador")as HTMLDivElement;
        function iniciarContador(fechaObjetivo: number) {
            function actualizarContador() {
                const ahora = new Date().getTime();
                const tiempoRestante = fechaObjetivo - ahora;

                if (tiempoRestante <= 0) {
                    contador.innerHTML = "Es Hora!!!!!";
                    document.querySelector(".counter-section").classList.add("hide") ;
                    setTimeout(() => {
                        document.querySelector("#celebrate").classList.remove("hide-section");

                    }, 1000);
                    clearInterval(intervalo);
                    return;
                }

                const dias = Math.floor(tiempoRestante / (1000 * 60 * 60 * 24));
                const horas = Math.floor((tiempoRestante % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutos = Math.floor((tiempoRestante % (1000 * 60 * 60)) / (1000 * 60));
                const segundos = Math.floor((tiempoRestante % (1000 * 60)) / 1000);

                contador.innerHTML = 
                    `${dias}d ${horas}h ${minutos}m ${segundos}s`;
            }

            const intervalo = setInterval(actualizarContador, 1000);
            actualizarContador(); 
        }

        // Configurar la fecha objetivo (año, mes-1, día, hora, minuto, segundo)
        const fechaObjetivo = new Date(2025, 1, 20, 7, 0, 0).getTime();
        iniciarContador(fechaObjetivo);


    </script>